{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Sign up - Spotify</title>
        <link rel="icon" href="https://accounts.scdn.co/sso/images/favicon.ace4d8543bbb017893402a1e9d1ac1fa.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/signup_form.css' %}">
        <!-- <link rel="stylesheet" href="../static/css/signup_form.css"> -->

    </head>

    <body>
        <div id="main-container">
            <!-- <img src="../statics/img/spotify_logo.jpg" id="logo" alt="Spotify Logo"> -->
            <img src="{% static 'img/spotify_logo.jpg' %}" id="logo" alt="Spotify Logo">

            <!-- <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 33.33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            </div>             -->

            <div class="progress" style="width: 70%; height: 5px">
                <div class="progress-bar bg-success" role="progressbar" style="width: 33.33%" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <br>

            <div style="margin-bottom: 5%;">
                <span class="text-white-50">Step 1 of 3</span>
                <br>
                <span class="text-white fw-bold">Create a password</span> 

                <br> <br>
                      
                <form action="{% url 'sign_up_email' %}" method="post" onsubmit="return savePassword()">
                    {% csrf_token %}
                    
                    {% if email %}
                        <input type="hidden" name="email" value="{{ email }}">
                    {% endif %}
                
                    <span class="text-white fw-bold">Password</span>
                    <br>
                    <input type="password" name="password" id="password" required oninput="validatePassword()" size="40">
                    <br> <br>
                
                    <div>
                        <span class="text-white fw-bold">Your password must contain at least</span>
                        <br>
                        <label>
                            <input type="checkbox" id="letter-criteria" name="option" disabled>
                            <span class="custom-checkbox"></span>
                            <span class="text-white">1 letter</span>
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" id="number-special-criteria" name="option" disabled>
                            <span class="custom-checkbox"></span>
                            <span class="text-white">1 number or special character (example: # ? ! &)</span>
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" id="length-criteria" name="option" disabled>
                            <span class="custom-checkbox"></span>
                            <span class="text-white">10 characters</span>
                        </label>
                    </div>
                
                    <br><br>
                    <input type="submit" value="Next" class="fw-bold">
                </form>                
            </div>
        </div>

        <script>
            function validatePassword() {
                const password = document.getElementById('password').value;

                // Criteria
                const hasLetter = /[a-zA-Z]/.test(password);
                const hasNumberOrSpecial = /[0-9!@#$%^&*(),.?":{}|<>]/.test(password);
                const hasMinLength = password.length >= 10;

                // Update radio buttons based on individual criteria
                document.getElementById('letter-criteria').checked = hasLetter;
                document.getElementById('number-special-criteria').checked = hasNumberOrSpecial;
                document.getElementById('length-criteria').checked = hasMinLength;
            }

            function savePassword() {
                const password = document.getElementById('password').value;

                // Save the password in local storage
                localStorage.setItem('password', password);

                // Allow form submission
                return true; 
            }
        </script>
    </body>
</html>