body {
    /* background-color: #161616; */
    background-color: black;
}

a {
    text-decoration: none;
}

.circle {
    width: 50px;
    height: 50px;
    /* background-color: white; */
    background-color: #3f3d3d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle i {
    font-size: 20px;
    color: white
}

.col-md-9 {
    color: white;
    background-color: #131212;
}

.search-bar {
    position: relative;
}

.search-bar input {
    padding-right: 2.5rem;
}

.search-bar .bi-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: gray;
}

button {
    border-radius: 25px;
    width: 100px;
}